/* Contenedor del dashboard*/
.dashboard-container {
  padding: 1.5rem;

  /* Título principal del dashboard */
  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  /* Grid que organiza las estadísticas*/
  .stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;

    /* Tarjeta de las estadisticas*/
    .stat-card {
      display: flex;
      align-items: center;
      padding: 1rem;
      border-radius: 8px;
      color: #fff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      /* Icono dentro de la tarjeta */
      .icon {
        font-size: 2.5rem;
        margin-right: 1rem;
      }

      /* Detalles de la estadística (valor y texto) */
      .details {
        h2 {
          margin: 0;
          font-size: 1.75rem;
        }

        p {
          margin: 0;
          font-size: 1rem;
        }
      }
    }
  }

  /*  Colores de las etiquetas */
  .bg-blue {
    background-color: #007bff;
  }

  .bg-green {
    background-color: #28a745;
  }

  .bg-orange {
    background-color: #fd7e14;
  }

  .bg-purple {
    background-color: #6f42c1;
  }
}

/* Estilo de los enlaces */
.nav-link {
  color: var(--color-primario);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}