<header class="header sticky-top p-3 bg-white shadow-sm">
  <div class="container-fluid">
    <div class="d-flex flex-wrap flex-md-nowrap align-items-center justify-content-between">

      <a [routerLink]="'/home'" class="d-flex align-items-center text-decoration-none">
        <img src="assets/logo-icon.png" alt="CheckCoop logo" class="logo-icon me-2" width="45" height="45" />
        <span class="d-none d-sm-inline"
          style="font-family: 'Cinzel', serif; font-size: 1.2rem; font-weight: 600; color: #000; letter-spacing: 1px;">
          CheckCoop - Tu aplicación para Cooperativas
        </span>
        <span class="d-inline d-sm-none"
          style="font-family: 'Cinzel', serif; font-size: 1.2rem; font-weight: 600; color: #000; letter-spacing: 1px;">
          CheckCoop
        </span>
      </a>

      <div class="d-flex align-items-center ms-auto">
        <div class="d-sm-none" (click)="logout()" style="cursor: pointer;">
          <i class="bi bi-box-arrow-right fs-4 text-danger"></i>
        </div>

        <div class="dropdown d-none d-sm-flex align-items-center ms-3" style="cursor: pointer;"
          data-bs-toggle="dropdown">
          <div class="avatar me-2" [ngClass]="{
              'avatar-superadmin': userData.rol === 'superadmin',
              'avatar-admin': userData.rol === 'admin',
              'avatar-usuario': userData.rol === 'usuario'
            }">
            {{ userData.nombre.charAt(0) | uppercase }}
          </div>
          <span>{{ userData.nombre | fixEncoding }} {{ userData.apellidos | fixEncoding }}</span>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a (click)="logout()" class="dropdown-item">Cerrar sesión</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</header>