.header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  
  .header-left {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
  }

  .header-center {
    display: flex;
    align-items: center;
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #555;
    cursor: pointer;
  }

  .profile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .bi {
    font-size: 1.5rem;
    color: var(--color-primario)
  }
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
  position: absolute;
  top: 50px; /* Ajusta según sea necesario */
  right: 0;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}



.dropdown-menu ul li a {
  text-decoration: none;
}

.dropdown-menu ul li a:hover{
  background-color: var(--color-primario-hover);
}


.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #fff;
  /* opcional: cursor pointer si quieres que sea clicable */
  cursor: pointer;
}

/* Variaciones por rol */
.avatar-superadmin {
  background-color: #6f42c1; /* morado */
}

.avatar-admin {
  background-color: #0d6efd; /* azul */
}

.avatar-usuario {
  background-color: #198754; /* verde */
}


