<div class="container mt-4">
  <h2 class="mb-4 text-primary">
    <i class="bi bi-box-seam me-2"></i> Gestión de Inventario
  </h2>

  <!-- Buscador de productos y botón para abrir modal -->
  <div class="row align-items-end mb-3">
    <div class="col-md-4">
      <label class="form-label">Buscar productos</label>
      <input type="text" class="form-control" placeholder="Buscar productos..." [(ngModel)]="filtroBusqueda" />
    </div>
    <div class="col-md-8 text-end mt-4 mt-md-0">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalNuevoProducto">
        <i class="bi bi-plus-circle"></i> Nuevo Producto
      </button>
    </div>
  </div>

  <div class="row g-4">
    <div *ngFor="let p of productosFiltrados()" class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
      <div class="card w-100 shadow-sm position-relative">

        <!-- Badge de Categoría -->
        <div class="pill-badge category-badge position-absolute" style="top: 10px; left: 10px;">
          {{ p.categoria }}
        </div>

        <!-- Badge de Estado -->
        <div class="status-badge position-absolute" [ngClass]="{
          'status-por-vencer': getEstadoTexto(p) === 'Por Vencer',
          'status-disponible': getEstadoTexto(p) === 'Disponible',
          'status-agotado': getEstadoTexto(p) === 'Agotado'
        }" style="top: 10px; right: 10px;">
          {{ getEstadoTexto(p) }}
        </div>

        <!-- Imagen del producto -->
        <ng-container *ngIf="p.imagen; else noImage">
          <img [src]="'http://localhost:3000' + p.imagen" class="card-img-top" style="object-fit: cover; height: 150px;"
            alt="Imagen de {{ p.nombre }}" />
        </ng-container>
        <ng-template #noImage>
          <div class="card-img-top bg-light d-flex justify-content-center align-items-center text-muted"
            style="height: 150px;">
            <i class="bi bi-image" style="font-size: 2rem;"></i>
          </div>
        </ng-template>

        <div class="card-body d-flex flex-column">
          <!-- Nombre del producto -->
          <h5 class="card-title mb-1 text-truncate">
            <i class="fa-solid fa-tag me-1"></i>
            {{ p.nombre }}
          </h5>

          <!-- Descripción (limitada a 2 líneas) -->
          <p class="card-text text-muted mb-3" style="
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-size: 0.9rem;
          ">
            <i class="fa-solid fa-align-left me-1"></i>
            {{ p.descripcion }}
          </p>

          <!-- Fila con Precio y Cantidad -->
          <div class="d-flex justify-content-between align-items-center mb-3">
            <!-- Precio con icono de euro -->
            <div class="fw-bold" style="font-size: 1.1rem;">
              <i class="fa-solid fa-euro-sign me-1"></i>
              {{ p.precio | currency: 'EUR':'symbol':'1.2-2' }}
            </div>

            <!-- Cantidad/Unidad -->
            <div class="text-muted" style="font-size: 0.9rem;">
              <i class="fa-solid fa-box-open me-1"></i>
              {{ p.cantidad }} {{ p.unidad }}
            </div>
          </div>

          <div *ngIf="userData?.rol === 'superadmin'" class="mt-auto mb-2">
            <small class="text-muted">
              <i class="fa-solid fa-building me-1"></i>
              {{ p.empresa || '—' }}
            </small>
          </div>

          <div class="mt-auto"></div>
        </div>

        <!-- Footer con botones (Editar y Eliminar) -->
        <div class="card-footer bg-transparent border-top d-flex justify-content-around">
          <button class="btn btn-outline-success btn-sm" (click)="abrirModal(p)" title="Editar producto"
            data-bs-target="#modalEditarProducto"> <i class="bi bi-pencil-square"></i>
            <span class="d-none d-sm-inline">Editar</span>
          </button>

          <button class="btn btn-outline-danger btn-sm" (click)="eliminarProducto(p)" title="Eliminar producto">
            <i class="bi bi-trash"></i>
            <span class="d-none d-sm-inline">Eliminar</span>
          </button>
        </div>
      </div>
    </div>
  </div>


  <!--  Modal para añadir nuevo producto -->
  <div class="modal fade" id="modalNuevoProducto" tabindex="-1" role="dialog" aria-labelledby="modalNuevoProductoLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="modalNuevoProductoLabel">
            Añadir Nuevo Producto
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body">
          <div class="row g-3">
            <!-- Nombre -->
            <div class="col-md-4">
              <label for="producto-nombre" class="form-label">Nombre</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-tag"></i>
                </span>
                <input id="producto-nombre" type="text" class="form-control" [(ngModel)]="nuevoProducto.nombre"
                  name="nombre" />
              </div>
            </div>

            <!-- Categoría -->
            <div class="col-md-4">
              <label for="producto-categoria" class="form-label">Categoría</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-list"></i>
                </span>
                <input id="producto-categoria" type="text" class="form-control" [(ngModel)]="nuevoProducto.categoria"
                  name="categoria" />
              </div>
            </div>

            <!-- Precio -->
            <div class="col-md-4">
              <label for="producto-precio" class="form-label">Precio (€)</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-euro-sign"></i>
                </span>
                <input id="producto-precio" type="number" step="0.01" class="form-control"
                  [(ngModel)]="nuevoProducto.precio" name="precio" />
              </div>
            </div>

            <!-- Cantidad -->
            <div class="col-md-4 mt-2">
              <label for="producto-cantidad" class="form-label">Cantidad</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-sort-numeric-up"></i>
                </span>
                <input id="producto-cantidad" type="number" class="form-control" [(ngModel)]="nuevoProducto.cantidad"
                  name="cantidad" />
              </div>
            </div>

            <!-- Unidad -->
            <div class="col-md-4 mt-2">
              <label for="producto-unidad" class="form-label">Unidad</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-balance-scale"></i>
                </span>
                <input id="producto-unidad" type="text" class="form-control" [(ngModel)]="nuevoProducto.unidad"
                  name="unidad" />
              </div>
            </div>

            <!-- Descripción -->
            <div class="col-md-12 mt-2">
              <label for="producto-descripcion" class="form-label">Descripción</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-align-left"></i>
                </span>
                <textarea id="producto-descripcion" class="form-control" rows="3"
                  [(ngModel)]="nuevoProducto.descripcion" name="descripcion"></textarea>
              </div>
            </div>

            <!-- Imagen -->
            <div class="col-md-12 mt-2">
              <label for="producto-imagen" class="form-label">Imagen</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-image"></i>
                </span>
                <input id="producto-imagen" type="file" class="form-control"
                  (change)="onFileSelected($event, 'nuevo')" />
              </div>
              <img *ngIf="imagenPreviewNuevo" [src]="imagenPreviewNuevo" class="img-thumbnail mt-2"
                style="max-width: 200px" alt="Previsualización imagen" />
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button type="button" class="btn btn-success" (click)="agregarProducto()" data-bs-dismiss="modal">
            <i class="bi bi-check-circle me-1"></i> Guardar Producto
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{ 'show d-block': mostrarModal }"
    style="background-color: rgba(0, 0, 0, 0.5)" *ngIf="mostrarModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Editar Producto</h5>
        </div>
        <form (ngSubmit)="guardarCambios()" #formEdit="ngForm">
          <div class="modal-body">
            <!-- Nombre -->
            <div class="form-group mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-tag"></i>
                </span>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="productoSeleccionado.nombre"
                  name="nombre" required />
              </div>
            </div>

            <!-- Categoría -->
            <div class="form-group mb-3">
              <label for="categoria" class="form-label">Categoría</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-list"></i>
                </span>
                <input type="text" class="form-control" id="categoria" [(ngModel)]="productoSeleccionado.categoria"
                  name="categoria" />
              </div>
            </div>

            <!-- Precio -->
            <div class="form-group mb-3">
              <label for="precio" class="form-label">Precio (€)</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-euro-sign"></i>
                </span>
                <input type="number" step="0.01" class="form-control" id="precio"
                  [(ngModel)]="productoSeleccionado.precio" name="precio" />
              </div>
            </div>

            <!-- Stock -->
            <div class="form-group mb-3">
              <label for="cantidad" class="form-label">Stock</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-sort-numeric-up"></i>
                </span>
                <input type="number" class="form-control" id="cantidad" [(ngModel)]="productoSeleccionado.cantidad"
                  name="cantidad" required />
              </div>
            </div>

            <!-- Unidad -->
            <div class="form-group mb-3">
              <label for="unidad" class="form-label">Unidad</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-balance-scale"></i>
                </span>
                <input type="text" class="form-control" id="unidad" [(ngModel)]="productoSeleccionado.unidad"
                  name="unidad" />
              </div>
            </div>

            <!-- Descripción -->
            <div class="form-group mb-3">
              <label for="descripcion" class="form-label">Descripción</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-align-left"></i>
                </span>
                <textarea class="form-control" id="descripcion" [(ngModel)]="productoSeleccionado.descripcion"
                  name="descripcion"></textarea>
              </div>
            </div>

            <!-- Imagen -->
            <div class="form-group mb-3">
              <label for="imagen" class="form-label">Imagen</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fa fa-image"></i>
                </span>
                <input type="file" class="form-control" id="imagen" (change)="onFileSelected($event, 'editar')" />
              </div>
              <img *ngIf="imagenPreviewEditar" [src]="imagenPreviewEditar" class="img-thumbnail mt-2"
                style="max-width: 200px" alt="Previsualización imagen" />
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="cerrarModal()">
              Cancelar
            </button>
            <button type="submit" class="btn btn-success px-4" [disabled]="formEdit.invalid">
              <i class="bi bi-check-circle me-1"></i> Guardar Cambios
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>