
.card-body {
  padding: 0.5rem 1rem;
}

.card {
  height: 100%;
  margin-bottom: 0; 
}

.chart-wrapper-vertical,
.chart-wrapper-horizontal {

  height: 235px;
}

ngx-charts-bar-vertical,
ngx-charts-bar-horizontal {
  display: block;
  height: 100% !important;
  width: 100% !important;
}
body,
html {
  overflow-x: hidden;
}

h2,
h5 {
  margin-bottom: 0.25rem;
  margin-top: 0;
  font-weight: 500;
}
