<ng-container *ngIf="shouldShowLayout()">
  <!-- Contenedor principal con clases dinámicas -->
  <app-header></app-header>
  <div class="d-flex  flex-wrap  layout" [class.collapsed]="!expanded" [class.expanded]="expanded">

    <!-- Sidebar sincronizado con el estado `expanded` -->
    <app-sidebar [(expanded)]="expanded"></app-sidebar>

    <!-- Contenido principal que se desplaza según el sidebar -->
    <div class="app-wrapper flex-grow-1">
      <main class="app-content fondo-personalizado">
        <router-outlet></router-outlet>
      </main>
    </div>

  </div>
</ng-container>

<!-- Sólo login / register, sin sidebar -->
<ng-container *ngIf="!shouldShowLayout()">
  <router-outlet></router-outlet>
</ng-container>



